---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Programming",
    description:
      "From beginner to experts, we provide you with the necessary guidelines to gain a solid foundation in the world of computer programming",
    icon: "ph:code-fill",
  },
  {
    title: "Contracting",
    description:
      "GroundedTutor can be contracted to analyze and design complete backend solutions for any software needs",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Community",
    description:
      "The GroundedTutor community is open to all. Join us to discover a community of like-minded individuals who are willing to share their knowledge and expertise.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Experts for every topic
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Our team of experts provide the domain knowledge necessary to navigate tough
    subjects.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
