---
import { Icon } from "astro-icon";

const iconStyle = "md:hover:scale-110 transition ease-in-out delay-75";

const socialLinks = {
  facebook: "https://www.facebook.com/groundedtutor/",
  twitter: "https://twitter.com/groundedtutor",
  instagram: "https://www.instagram.com/groundedtutor",
  tiktok: "https://www.tiktok.com/@groundedtutor#",
  github: "https://github.com/groundedtutor",
  youtube: "https://www.youtube.com/@groundedtutor/",
};
---

<div class="mt-24">
  <h2 class="text-center text-lg text-slate-500">Find us online</h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    {
      Object.entries(socialLinks).map(([site, url]) => (
        <a href={url} target="_blank" rel="noopener">
          <Icon
            class:list={["h-8 md:h-12", iconStyle]}
            name={`simple-icons:${site}`}
          />
        </a>
      ))
    }
  </div>
</div>
