---
import { Tick } from "@components/ui/icons";
import Link from "@components/ui/link.astro";
import { PriceDisplay } from "@pages/pricing/_components";

interface Props {
  plan: {
    name: string;
    price:
      | string
      | {
          monthly?: string;
          annual?: string;
          discount?: string;
          original?: string;
        };
    popular: boolean;
    features: string[];
    button: {
      text?: string;
      link: string;
    };
  };
}

const { plan } = Astro.props;
---

<div class="hover:scale-105 transition-transform duration-150 ease-linear">
  <div
    class="flex flex-col h-full w-full order-first lg:order-none border-2 border-[#D8DEE9] border-opacity-50 py-5 px-6 rounded-md">
    <div class="text-center">
      <h4 class="text-lg font-medium text-gray-400">{plan.name}</h4>
      <PriceDisplay price={plan.price} client:load />
    </div><ul class="grid my-8 text-left gap-y-4">
      {
        plan.features.map((item) => (
          <li class="flex items-start gap-3 text-gray-800">
            <Tick class="w-6 h-6" />
            <span>{item}</span>
          </li>
        ))
      }
    </ul><div class="flex mt-auto flex-col">
      <Link
        href={plan.button.link || "#"}
        block
        class="capitalize"
        style={plan.popular ? "primary" : "outline"}>
        {plan.button.text || "Get Started"}
      </Link>
    </div>
  </div>
</div>
