PUBLIC_SITE_NAME=GroundedTutor
PUBLIC_SITE_PHONE=+1234567890
PUBLIC_BOOKING_EMAIL=hello@groundedtutor.com
PUBLIC_CONTACT_EMAIL=info@groundedtutor.com
PUBLIC_PRIVACY_OFFICER_NAME=Heney Suargez
PUBLIC_PRIVACY_OFFICER_EMAIL=hsuargez@***.**
